#gallery-expositions.index
  .manage.btn-group-vertical
    position: absolute
    left: -50px


#gallery-expositions.show
  .upload-buttons
    display: none
  #images
    .manage.btn-group-vertical
      position: absolute
      left: 20px
      top: 25px

  #videos
    margin-top: 20px
    .manage.btn-group-vertical
      position: absolute
      left: 20px
      top: 5px
      z-index: 10
    .video-js
      padding-top: 56.25%
    .vjs-fullscreen 
      padding-top: 0px